<script>
    /** @type {import('./$types').PageData} */
      export let data;
</script>
{#each data.posts as post}
      <li>
        <a href="/products/{post.slug}">
          {post.title}
        </a>
      </li>
    {/each}