<script>
	import { enhance } from '$app/forms';
	import { Alert } from 'flowbite-svelte';
    export let data;
    let base64data = data.photo;
    /**  @type {import('./$types').ActionData} */
    export let form;
//https://svelte.dev/repl/b17c13d4f1bb40799ccf09e0841ddd90?version=3.58.0

    let fileinput

    async function GetPhoto(image) {
        var reader = new FileReader();
        reader.readAsDataURL(image); 
        reader.onloadend = function() {
        base64data = reader.result;                
        console.log(base64data);
        }
	}
</script>


<form method="POST" action="?/update" use:enhance >

<div class="hidden md:block flex-col  justify-center p-2 ">
    
    <div class="card w-2/5 dark:bg-base-100 shadow-xl m-auto p-2  flex-row ">
        <div class="w-1/5">
            <p class="text-2xl font-bold m-1 text-black dark:text-white ">Аватар</p>   
            <p class="text-l font-bold m-1  text-black dark:text-white  ">Установить фото профиля</p>   
        </div>
        
        <input type="hidden" bind:value={base64data} name="b64" />  

        <div class=" m-auto mr-0 ">
            <img class="md:w-24 md:h-24  rounded-full" src="{base64data}" alt="Rounded avatar">
        </div>

        <div class="flex-row pl-2 m-auto ml-0 mr-0">
            <p class="text-xl font-bold m-1  text-black dark:text-white  ">Обновить фото профиля</p>
            <input class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 focus:outline-none" id="asdas" name="file_input" accept="image/png, image/jpeg"  type="file" 
            bind:this={fileinput}
            on:change={() => GetPhoto(fileinput.files[0])}>
            <p class="text-s font-bold m-1  text-gray-500 " >Максимальный размер файла не больше 2Мб</p>
            
        </div>
    </div>
    <div class="card w-2/5 dark:bg-base-100 shadow-xl m-auto p-2 flex-row mt-2">
        <div class="w-1/5">
            <p class="text-2xl font-bold m-1 text-black dark:text-white  ">Основные настройки</p>  
            <p class="text-l font-bold  m-1  text-black dark:text-white  ">Изменение данных</p>   
        </div>

    <div class="flex-row pl-32 mt-2 m-auto w-full ">
        <div>
            <label for="first_name" class="block mb-2 text-sm font-medium text-black dark:text-white ">Логин</label>
            <input type="text" name="login" class=" bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 " value="{data.name}" >
        </div>
        <div class="pt-2">
            <label for="first_name" class="block mb-2 text-sm font-medium text-black dark:text-white ">Почта</label>
            <input type="text" name="email" class=" bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 " value="{data.mail}" >
        </div>
        <div class="pt-2">
            <label for="first_name" class="block mb-2 text-sm font-medium text-black dark:text-white ">Введите старый пароль</label>
            <input type="password" name="oldpassword" class=" bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 " placeholder="" >
        </div>
        <div class="pt-2">
            <label for="first_name" class="block mb-2 text-sm font-medium text-black dark:text-white ">Новый пароль</label>
            <input type="password" name="newpassword" class=" bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 " placeholder="" >
        </div>
    </div>
</div>
    <div class="flex w-full  justify-center">
        <div>
            <button type="submit"  class="text-white bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br 
            focus:ring-4 focus:outline-none focus:ring-green-300  font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2
            flex-row mt-2 ">Сохранить изменения</button> 
        </div>
    </div>
    {#if form?.bad_pwd}
        <div class="flex w-full  justify-center">
            <Alert border color="red">
            <span slot="icon"><svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path></svg>
            </span>
            <span class="font-medium">{form?.value}</span>
            </Alert>    
        </div>
    {/if}
    {#if form?.good}
        <div class="flex w-full  justify-center">
		    <Alert border color="green">
                <span slot="icon"><svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" 
                    clip-rule="evenodd"></path></svg></span>
                <span class="font-medium">Успешно!</span>
		    </Alert>
        </div>
	{/if}
</div>
<div class="block md:hidden"> Тут ничего не будет</div> 
</form>