<script>
	/**  @type {import('./$types').ActionData} */
	export let form;

	/**  @type {import('./$types').PageData} */
	export let data;
	import { Alert } from 'flowbite-svelte';
	/** @type {HTMLInputElement} */
	let pass;
	/** @type {HTMLInputElement} */
	let email;
	/** @type {boolean} */
	let validemail;
	/** @type {boolean} */
	let validate;
	/** @type {boolean} */
	let validtext;
	let valid = false;
	function passwordvalidate(pass) {
		if (Number(pass.length) < 8)
		{
			validate  = false;
			setTimeout(() => (validate = true), 2000);	
		}
		else
		{
			validate  = true;
		}
		if(!/\d/.test(pass) &&  !/[a-z]/.test(pass) &&  !/[A-Z]/.test(pass))
		{
			validtext = false;
			setTimeout(() => (validtext = true), 6000);	
		}
		else
		{
			validtext = true;
		}
	}
	function validmail(email) {
		if(!/[a-z0-9]+@[a-z]+\.[a-z]{2,3}/.test(email.value))
		{
			validemail  = false;
			setTimeout(() => (validemail = true), 6000);	
		}
		else{validemail  = true;}
	}

	$:  if(validemail && validate && validtext){valid = true;}else{valid = false;}
</script>	

<div class="card w-96 mt-2 shadow-xl m-auto bg-gray-200 dark:bg-base-300 ">
	<div class="card-body">
		<h2 class="card-title">Регистрация</h2>
		<div>
			{#if form?.user}
				<Alert border color="red">
					<span slot="icon"><svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path></svg>
					</span>
					<span class="font-medium">Пользователь с таким именем уже существует</span>
				  </Alert>
			{/if}
			{#if form?.validfail}
				<Alert border color="red">
					<span slot="icon"><svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path></svg>
					</span>
					<span class="font-medium">Введены некорректные данные</span>
				  </Alert>
			{/if}
		</div>
		

		<form action="?/register" method="POST">
			<input class="hidden" name="valid" id="valid" bind:value={valid}>
            <div class="form-control w-full max-w-xs">
				<label class="label" for="login">	
					<span class="label-text">Логин:</span>
				</label>
				<input id="login" name="login" type="text" class="input input-bordered w-full max-w-xs"  required/>
			</div>

			<div class="form-control w-full max-w-xs">
				<label class="label" for="username">
					<span class="label-text">Почта:</span>
				</label>
				{#if validemail == false}
					<div class="tooltip tooltip-open" data-tip="Не валидная почта"/>
				{/if}
				<input
					id="username"
					name="username"
					type="email"
					required
					class="input input-bordered w-full max-w-xs"
					bind:this={email}
					on:change={validmail(email)}
				/>
			</div>

			<div class="form-control w-full max-w-xs">
				<label class="label" for="password">
					<span class="label-text">Пароль:</span>
				</label>	
				{#if validate == false}
					<div class="tooltip tooltip-open" data-tip="Пароль должен содержать не менее 8 символов">	</div>
				{/if}
				{#if validtext == false}
					<div class="tooltip tooltip-open" data-tip="Пароль должен содержать заглавные и строчные буквы и цифры">	</div>
				{/if}
				<input id="password" name="password" type="password" bind:this={pass} required on:change={passwordvalidate(pass.value)} class="input input-bordered w-full max-w-xs"/>				
			</div>

			<div class="card-actions justify-end mt-5" style="display: flex;
            justify-content: space-between;
            flex-direction: row;">
				<a class="btn" href="/">Отмена</a>
				<button class="btn" type="submit">Выполнить</button>
			</div>
		</form>
	</div>
</div>
