<script>
	import { enhance } from '$app/forms';
	import {Alert } from 'flowbite-svelte';
	import { Fileupload, Label } from 'flowbite-svelte'
	import {clickOutside} from '$lib/clickOutside.js';
	import * as fs from 'fs'
	import Fa from 'svelte-fa'
  	import { faTrash,faFolder,faPlus,faUser } from '@fortawesome/free-solid-svg-icons'
	
	export let data;
	/** @type {{ resault: any; error: any; description: any; date: any; }}*/
	export let form;


	let modal = false;
	let modaluser = false;
	let admin;
	let res = form?.resault;
	let fileInput;
	let pict;

	/** @param {string | number | Date} date*/
	function Formatdate(date) {
		let newdate = new Date(date);
		return newdate.getDate() + '.' + (newdate.getMonth() + 1) + '.' + newdate.getFullYear();
	}
	/** @param {string | number | Date} date */
	function Changeformat(date) {
		let newdate = new Date(date).valueOf();

		if (newdate <= Date.now()) {
			return true;
		} else {
			return false;
		}
	}

	async function GetTodo(id) {
		let response = await fetch("todoget?id=" + id);
		let datadsa = await response.json();
		console.log(datadsa)
		data.todos = datadsa.data
	}
	
	function OpenModal() {
		modal = !modal
	}
	function OpenModalUsers()
	{
		modaluser = !modaluser
	}
	
	$: if (data.admin == false) {admin = "flexbox" } else{admin = "flex" }

	$: if (res == true) {setTimeout(() => (res = false), 1000);	}

</script>

{#if modal}
<div class="modal {modal ? 'modal-open' : ''} pb-96"> 
	<div class="modal-box bg-gray-200 dark:bg-base-300 dark:text-neutral-content" use:clickOutside on:click_outside={()=>OpenModal()}>
		{#if res == true}
		<Alert border color="green">
			<span slot="icon"><svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path></svg>
			</span>
			<span class="font-medium">Успешно!</span>
		</Alert>
		{/if}
		<form method="POST" action="?/createbase" use:enhance >
			<label class="text-black md:flex md:flex-col dark:text-white">
				Текст:
				<input style="margin: 1%;"   class="input input-bordered bg-gray-100 dark:bg-base-100 text-black dark:text-neutral-content" name="description" value={form?.description ?? ''} required />
				<br>
				<input style="margin: 1%;" class="bg-gray-100 dark:bg-base-100 " name="date" type="date" value={form?.date ?? ''} required />
				<input
				bind:this={fileInput}
				class=""
				name="file"
				type="file"
				accept="*"
			 	/>
			</label>
			<button  style="margin: 1%;" class="btn bg-gray-200 dark:bg-base-100 dark:text-white" type="submit" >Отправить</button>
		</form>
	</div>
</div>
{/if}
{#if modaluser}
<div class="modal {modaluser ? 'modal-open' : ''} pb-96"> 
	<div class="modal-box  bg-gray-200 dark:bg-base-300 dark:text-neutral-content " use:clickOutside on:click_outside={()=>OpenModalUsers()}>
		<div class="flex-row">   
			{#each data.users as user (user.id)}
				<button class="btn m-2 w-full btn-outline text-black dark:text-white" on:click={()=> GetTodo(user.id)} >{user.name}</button>					
			{/each}
		</div>
	</div>
</div>
{/if}

{#if data.admin == true}
	<div class="flex md:hidden mt-2">
		<div class="flex w-full md:ml-0" style="max-width: 840px;">
			<button class="btn w-14 h-14  md:justify-start md:m-0  m-auto text-black bg-gray-200 dark:bg-gray-700 dark:text-white mt-1 "  style="max-width: 840px;" on:click={()=>OpenModalUsers()} >
				<div class="w-full">
					<Fa  class="w-full text-black dark:text-white"  icon={faUser} size="m"/> 
				</div>
			</button>
		</div>	
	</div>
{/if}
<div class="osnova bg-gray-100 dark:bg-base-200 pb-2" style="display: {admin};">
{#if data.admin == false}
	<div class=" w-96 shadow-xl m-auto my-2 bg-gray-200 dark:bg-base-300 text-black  dark:text-neutral-content md:hidden hidden" >
		{#if form?.error}
			<p class="error">{form.error}</p>
		{/if}
		{#if res == true}
		<Alert border color="green">
			<span slot="icon"><svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path></svg>
			</span>
			<span class="font-medium">Успешно!</span>
		</Alert>
		{/if}
		<form method="POST" action="?/createbase" use:enhance >
			<label class="text-black dark:text-white">
				Текст:
				<input style="margin: 1%;"   class="input input-bordered bg-gray-100 dark:bg-base-100 text-black dark:text-neutral-content" name="description" value={form?.description ?? ''} required />
				<br>
				<input style="margin: 1%;" class="bg-gray-100 dark:bg-base-100 " name="date" type="date" value={form?.date ?? ''} required />
				<!-- <Label class="space-y-2 mb-2 ">
					<Fileupload bind:value/>
				</Label> -->
				<input
				bind:this={fileInput}
				class=""
				name="file"
				type="file"
				accept="*"
			 	/>

			</label>
			<button  style="margin: 1%;" class="btn text-black bg-gray-200 dark:bg-base-100 dark:text-white" type="submit">Отправить</button>
		</form>
	</div>
<div class="flex w-full justify-center mt-2">
	<div class="flex w-10/12 md:ml-0" style="max-width: 840px;">
		<button class="btn md:justify-start md:m-0  m-auto text-black bg-gray-200 dark:bg-gray-700 dark:text-white mt-1 "  style="max-width: 840px;" on:click={()=>OpenModal()} >
			<div class="w-full">
				<!-- <Fa class=" hidden md:block"  icon={faPlus} size="m"/>  -->
				Добавить Запись
			</div>
		</button>
	</div>	
</div>


	{:else}	

	
	<div class="hidden md:block">
	<button data-drawer-target="default-sidebar" data-drawer-toggle="default-sidebar" aria-controls="default-sidebar" type="button" class="inline-flex items-center p-2 mt-2 ml-3 text-sm text-black rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-white dark:hover:bg-gray-700 dark:focus:ring-gray-600">
	 </button>
	 <aside id="default-sidebar" class="flex  bottom-0  left-0 z-40   transition-transform -translate-x-full sm:translate-x-0" aria-label="Sidebar" >
		<div class="px-3 py-4 overflow-y-auto md:h-full dark:bg-base-200">
		   <ul class="space-y-2 font-medium content-center">
			{#each data.users as user (user.id)}
				<li>
					<button class="btn btn-outline text-black dark:text-white" on:click={()=> GetTodo(user.id)} >{user.name}</button>					
				</li>
			  {/each}
			
		   </ul>
		</div>
	 </aside>	
	</div>	
	
{/if}




<div class=" grid col-auto row-auto w-full " >
	{#each data.todos as todo (todo.id)}
	<div class="card shadow-xl bg-gray-200  dark:bg-neutral text-neutral-content m-auto  mt-2 w-10/12"  style="max-width: 840px;" >
	<form method="POST"  id="FormDelete" action="?/deletebase" use:enhance >
				<div class=" text-black dark:text-white   text-lg break-all">
					<input type="hidden" name="id" value={todo.id} />
					<div class=" grid-flow-col col-auto row-auto w-full md:grid" >
						<div class=" col-start-1 row-start-1 ml-1 m-auto break-words md:pl-2  md:row-start-2 md:w-24" >{Formatdate(todo.date)}</div>
						{#if Changeformat(todo.date)}
							<div class="w-full text-red-700 col-start-2 row-start-1 m-auto  md:row-start-1 md:px-40 ">Просрочено</div>
						{/if}
						
						<div class="w-full col-start-2 row-start-2 px-4  m-auto md:row-start-2 md:px-40  ">{todo.value}</div>
						{#if todo.file != "undefined"}
							<input type="hidden" name="file" value={todo.file} />
							<div class=" text-green-400 hidden col-start-1 row-start-2 ml-10 m-auto md:break-words   md:row-start-3 md:block" >
								<Fa  icon={faFolder} size="s" />
								<a  href="{todo.file}"  target="_self" download>
								</a>	
							</div>
							<a class="w-full text-green-400 col-start-2 row-start-3 break-words m-auto md:row-start-3" href="{todo.file}" target="_self" download>{todo.file}</a>	 
						{/if}
						<div class="tooltip w-full col-start-3 row-start-4 m-auto  md:mr-2 md:place-content-center md:row-start-2 md:w-20 " data-tip="Удалить">	
							<button type="submit">
								<Fa class="text-blue-500"  icon={faTrash} size="m" />	
							</button>
						</div>
					</div>
				</div>
	</form>
</div>
	{/each}	
</div>


</div>
<style>
	form {
		text-align: center;
		color: black;
		font-size: medium;
	}
	p {
		text-align: center;
		color: rgb(255, 0, 0);
		font-size: large;
	}
	.element {
		color: rgb(202, 0, 0)
	}

</style>
