<script>
	export let show = false;
	/** @type {(arg0: any, arg1: any) => any} */
	 export let saveAndClose;
	/** @type {{ id: any; name: any; }}	 */
	 export let currobj;
	/** @type {() => void} */
	 export let hide;
</script>

<!-- <input type="checkbox" id="my-modal" class="modal-toggle" /> -->
<div class="modal {show ? 'modal-open' : ''}">
	<div class="modal-box">
		<h3 class="font-bold text-lg">
			{#if currobj}
				<form>
					<input value={currobj.id} type="hidden" />
					<input bind:value={currobj.name} type="text" />
				</form>
			{/if}
		</h3>
		<p class="py-4">Отредактируйте название страны.</p>
		<div class="modal-action">
			<label
				for="my-modal"
				on:click={() => {
					hide();
				}}
				class="btn"
			>
				Закрыть
			</label>
			<label for="my-modal" on:click={saveAndClose(currobj.id, currobj.name)} class="btn">
				Сохранить
			</label>
		</div>
	</div>
</div>