<script>
	//https://plotly.com/javascript/configuration-options/
	//https://www.npmjs.com/package/plotly.js-locales

	//npm install plotly.js-dist
	import Plotly from 'plotly.js-dist';
	import locale from 'plotly.js-locales/ru'

	let town = 'Челябинск';
	let town_name = '';
	let plot_el;

	const getData = async () => {
		const response = await fetch(
			`https://nominatim.openstreetmap.org/search?q=${town}&format=json&limit=1`
		);
		const { display_name, lat, lon } = (await response.json())[0];
		town_name = display_name;

		const req = await fetch(
			`https://api.open-meteo.com/v1/forecast?latitude=${lat}&longitude=${lon}&hourly=temperature_2m&past_days=92&past_days=92`
		);
		const data = await req.json();

		let layout = {
			title: `${town_name.split(' ')[0]}. Прогноз погоды`,
			font: { size: 12 },
			height: 400,
			xaxis: {
				title: 'время'
			},
			yaxis: {
				title: 'температура'
			}
		};

		let config = {};

		Plotly.register(locale);

		Plotly.setPlotConfig({
			modeBarButtonsToRemove: ['sendDataToCloud'],
			displayModeBar: true,
			responsive: true,
			scrollZoom: true,
			locale: 'ru'
		});

		Plotly.newPlot(
			'plot_el',
			[
				{
					type: 'line', 
					x: data['hourly']['time'], 
					y: data['hourly']['temperature_2m'],
					
				}
			],
			layout,
			config
		);

		plot_el.on('plotly_click', function(data){
			// alert('You clicked this Plotly chart!');
			console.log(data.points[0].y)
			});
	};
</script>

<div
	class="min-h-screen bg-gray-100 dark:bg-base-200  p-3 my-2 grid auto-rows-min grid-cols-[320px_minmax(0,_1fr)] gap-1"
>

	<div class="col-start-1 col-span-2 sm:col-span-1 sm:row-start-2">
		<label>
			Укажите город:
			<div>
				<input bind:value={town} />
			</div>
		</label>
		<div>
			<button on:click={getData}>Выполнить</button>
		</div>
		<div>
			{town_name}
		</div>
	</div>
	<div class="col-start-1 col-span-2 sm:col-start-2 sm:row-start-2">
		<div id="plot_el" class="min-h-[400px] min-w-[400px]" bind:this={plot_el} style="" />
	</div>
</div>
